@import "./essentials.less";

.scope-gitlab-mr-summary {
    @import "./utils.less";
    
    .c-dropdown {
        max-width: 720px;
        width: 720px;
        padding: 10px;
        max-height: calc(100vh - 41px - (2 * 10px));
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 7px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
        .c-dropdown__tab {
            margin-top: 0;
        }
    
    .c-info {
        margin-top: 0;
        * {
            margin-top: 0;
        }
        position: absolute;
        right: .7em;
        display: flex;
        align-items: center;
    }
        .c-refresh-btn {
            display: inline-block;
        }

    .c-spinner-icon {
        path, rect {
            fill: #FF6700;
        }
        & ~ .todos-count {
            display: none;
        }
    }
    
    .c-merge-request {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        
        &--approved-by-me {
            filter: grayscale(100%);
        }
        
        &:nth-child(2n+1) {
            background: rgba(221, 221, 221, 0.32);
        }
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    
        .c-merge-request__col {
            margin-top: 0;
            > * {
                margin-top: 0;
            }
            &--first {
                width: 3em;
            }
            &--second {
                flex-grow: 2;
                line-height: 1;
            }
            &--third {
                min-width: 8.55em;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-wrap: wrap;
            }
        }

    .c-avatar {
        position: relative;
        &.is-approved:after {
            display: block;
            content: '✔';
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: orange;
            color: white;
            top: 0;
            right: 0;
            font-size: 8px;
            text-align: center;
            box-shadow: 0 0 2px black;
        }
    }
    .c-avatar__img {
        width: 2em;
        height: 2em;
        box-shadow: 0 0 2px black;
        border-radius: 50%;
        margin: 0 .2em;
        &--small {
            width: 1.3em;
            height: 1.3em;
        }
    }
}
